@font-face {
  font-family: 'Rubic-Regular';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local('Rubic-Regular'),
    url('../fonts/Rubik-Regular.woff2') format('woff2'),
    url('../fonts/Rubik-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Rubic-Regular';
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: local('Rubic-Regular'),
    url('../fonts/Rubik-Regular.woff2') format('woff2'),
    url('../fonts/Rubik-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Rubic-Medium';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: local('Rubic-Medium'),
    url('../fonts/Rubik-Medium.woff2') format('woff2'),
    url('../fonts/Rubik-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Rubic-Bold';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local('Rubic-Bold'),
    url('../fonts/Rubik-Bold.woff2') format('woff2'),
    url('../fonts/Rubik-Bold.woff') format('woff');
}