* {
  // min-height: 0;
  min-width: 0;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: $silver-100;
  @extend %rubic-400;
  font-size: 20px;
  line-height: 1.5;
  color: $darkBlue-900;

  @include max-w($xs) {
    font-size: 16px;
  }
}

.main {
  flex-grow: 1;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;

  @include max-w($md) {
    width: 100%;
  }
}

.overlay {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;

  &--open {
    visibility: visible;
    opacity: 1;
    transition: visibility 0.3s,
      opacity 0.3s;
  }
}

.title {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.3;
  color: $darkBlue-900;
  text-align: center;

  @include max-w($md) {
    font-size: 24px;
  }
}

.logo {
  border: 2px solid transparent;
  outline: transparent;

  &__img {
    object-fit: contain;

    @include max-w($xs) {
      width: 115px;
    }

    &--big {
      width: 200px;
    }
  }

  &:focus {
    border-radius: 5px;
    border: 2px solid $orange-900;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }
}

.burger {
  @extend %burger;

  @include max-w($md) {
    display: block;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 2px;
    background-color: $darkBlue-900;
  }

  &::after {
    top: auto;
    bottom: 0;
  }

  &__span {
    position: absolute;
    display: inline-block;
    left: 0%;
    transform: translateY(-50%);
    width: 100%;
    height: 2px;
    background-color: $darkBlue-900;
  }
}


.burger-cross {
  @extend %burger;
  position: absolute;
  top: 27px;
  right: -1px;
  padding: 22px;

  @include max-w($md) {
    display: block;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 24px;
    height: 2px;
    background-color: $darkBlue-900;
  }

  &::before {
    top: 20px;
    bottom: 0;
    left: 9px;
    transform: rotate(45deg);
  }

  &::after {
    top: auto;
    bottom: 22px;
    left: 9px;
    transform: rotate(-45deg);
  }
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 39px;
  height: 39px;
  border: 2px solid transparent;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: 6px 6px;
  background-size: 21px 24px;
  background-color: $silver-200;
  outline: transparent;
  transition: background-color 0.3s, border-color 0.3s;

  &-svg {
    fill: $dark;
    transition: fill 0.3s;

    &--facebook {
      width: 10px;
      height: 21px;
    }

    &--twitter {
      width: 21px;
      height: 17px;
    }

    &--instagram {
      width: 19px;
      height: 19px;
    }
  }

  &:focus {
    background-color: #fff2ed;
    border-color: $orange-500;
  }

  &:hover {
    background-color: $orange-500;

    & .social__link-svg {
      fill: $white;
    }
  }

  &:active {
    background-color: #fff2ed;

    & .social__link-svg {
      fill: $orange-500;
    }

  }
}

.button-svg {
  &--big {
    width: 44px;
    height: 44px;
  }

  &--large {
    width: 14px;
    height: 14px;
    fill: $white;
  }

  &--around {
    width: 24px;
    height: 24px;
    fill: $white;
    transition: transform 0.3s;
  }
}

.button {
  padding: 11px 11px;
  border: 1px solid transparent;
  border-radius: 6px;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 0.3em;
  background-color: $orange-900;
  color: $white;
  transition: background-color 0.3s, color 0.3s, border 0.3s;
  outline: transparent;

  @include max-w($xs) {
    font-size: 14px;
  }

  &:focus {
    color: $orange-900;
    background-color: rgba(255, 122, 80, 0.1);
    box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
  }

  &:hover {
    color: $orange-900;
    background-color: $white;
    border-color: $orange-900;
  }

  &:active {
    background-color: rgba(255, 122, 80, 0.1);
    color: $orange-900;
    box-shadow: 0 0 0;
    border-color: transparent;
    outline: transparent;
  }

  &--icon {
    display: flex;
    align-items: center;
  }

  &--big {
    @extend %buttonEffects;
    padding: 12px 11px;
    border-radius: 5px;
    border-color: $silver-200;
    background-color: $white;
    color: $darkBlue-900;
    font-size: inherit;

    @include max-w($lg) {
      padding: 12px 8px;
    }

    @include max-w($md) {
      padding: 12px 5px;
    }

    & .button-svg--big {
      margin: 0 10px 0 3px;
      transition: fill 0.3s;

      @include max-w($md) {
        width: 20px;
        height: 20px;
      }
    }

    &.mixitup-control-active {
      box-shadow: 0 0 0 0;
      border-color: transparent;
      background-color: $orange-900;
      color: $white;

      & .button-svg {
        fill: $white;
      }
    }
  }

  &--large {
    @extend %buttonEffects;
    padding: 14px 0 15px 15px;
    border-radius: 5px;

    @include max-w($md) {
      width: 100%;
    }

    & .button-svg--large {
      margin: 0 9px 0 -11px;
    }
  }

  &--small {
    padding: 6px 4px;
    font-size: 14px;
    line-height: 1.3;
  }

  &--around {
    @extend %buttonEffects;
    padding: 5px 27px;
    border-radius: 20px;

    @include max-w($xxs) {
      margin-left: auto;
      transform: translateX(-30px);
    }

    &:hover {
      & .button-svg {
        transform: translateX(18px);
      }
    }

    &:active {
      & .button-svg {
        fill: $orange-900;
        transform: translateX(0px);
      }
    }
  }

  &--transparent {
    position: relative;
    padding: 5px;
    border-radius: 5px;
    background-color: transparent;
    @extend %rubic-400;
    color: $darkBlue-900;
    font-size: 20px;
    line-height: 1.5;

    &::before {
      content: '';
      position: absolute;
      bottom: 4px;
      left: 2px;
      right: 2px;
      border-bottom: 1px solid $darkBlue-900;
      transition: border-bottom 0.3s, text-shadow 0.3s;
    }

    &:focus {
      box-shadow: 0 0 0;
      background-color: transparent;
    }

    &:hover {

      &::before {
        border-bottom: 1px solid transparent;
      }
    }

    &:active {
      background-color: transparent;
      border-bottom: 1px solid transparent;
      text-shadow: 2px 2px 5px rgba(54, 56, 83, 0.5);
    }
  }
}

.link {
  border: 2px solid transparent;
  outline: transparent;
  transition: color 0.3s;


  &:focus {
    border-radius: 5px;
    border: 2px solid $orange-900;
  }

  &:hover {
    color: $orange-900;
  }

  &:active {
    text-shadow: 2px 2px 5px rgba(49, 53, 43, 0.5);
  }
}

.product-cards {
  margin: 0 30px 30px 0;
  background-color: $white;
  color: $dark;

  @include max-w($lg) {
    margin: 0 15px 15px 0;
  }

  @include max-w($md) {
    margin: 0 5px 5px 0;
  }

  &__link {
    outline: transparent;
  }

  &__img {
    object-fit: cover;
    border-radius: 10px;
  }

  &__title {
    @include ellipsis(4);
    max-width: 180px;
    margin-bottom: 10px;
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;

    &--margin {
      margin: 15px 0 20px 20px;
    }
  }

  &__box {
    display: flex;
    justify-content: space-between;
    max-width: 320px;
    margin: 0 auto;
    padding: 0 10px;

    @include max-w($xxs) {
      justify-content: unset;
      margin: 0;
    }
  }

  &__price {
    @include ellipsis(1);
    margin-bottom: 10px;
    font-weight: 500;
    color: $darkBlue-900;
    line-height: 1.4;
  }

  &__time {
    @include ellipsis(1);
    position: relative;
    padding-left: 30px;
    font-size: 18px;
    line-height: 1.67;
    font-weight: 300;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;

    &::before {
      content: "";
      position: absolute;
      top: 3px;
      left: 0;
      width: 22px;
      height: 22px;
      background-image: url(../images/sprite.svg#clock-icon);
    }
  }

  &--small {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: calc(20% - 30px);
    padding: 25px 5px;
    border: 1px solid $silver-200;
    border-radius: 5px;
    font-size: 15px;
    line-height: 1.2;
    transition: border-color 0.3s;

    @include max-w($lg) {
      width: calc(33.333% - 30px);
    }

    @include max-w($md) {
      width: calc(50% - 5px);
    }

    &:hover {
      border-color: $orange-900;
    }
  }

  &--big {
    width: calc(33.333% - 30px);
    padding-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    font-size: 24px;
    line-height: 1.3;
    transition: box-shadow 0.3s;

    @include max-w($lg) {
      margin: 0 30px 30px 0;
    }

    @include max-w($md) {
      margin: 0;
    }

    &:hover {
      box-shadow: 0 3px 15px rgba(255, 104, 56, 0.5);
    }
  }
}

.dowload-ios,
.dowload-android {
  object-fit: contain;

  &__img {
    display: inline-block;
    margin-right: 30px;
  }
}


.slick {

  &-slide {
    margin-right: 10px;
  }


}


.slick-dots {
  display: flex;
  margin: 0 auto;

  & li {
    margin: 25px 15px 0 0;

    &:last-child {
      margin-right: 0;
    }

    & button {
      padding: 0;
      border: 0;
      font-size: 0;
      background-color: $gray;
      width: 15px;
      height: 15px;
      border-radius: 50%;
    }
  }
}

li.slick-active button {
  background-color: $orange-500;
}

.slick-slide {
  & img {
    @include max-w($xs) {
      width: calc(100% - 30px);
    }

    @include max-w($xxs) {
      width: calc(100% - 80px);
    }

  }
}