$orange-900: #ff6838;
$orange-500: #ff7a50;
$silver-100: #f9faff;
$silver-200: #ececec;
$white: #ffffff;
$gray: #c2c2c2;
$darkBlue-900: #363853;
$dark: #31352b;

%rubic-400 {
  font-family: 'Rubic',
    sans-serif;
  font-weight: 400;
}

%buttonEffects {
  &:focus {
    background-color: $white;
    color: $darkBlue-900;

    & .button-svg {
      fill: $darkBlue-900;
    }
  }

  &:hover {
    background-color: rgba(255, 122, 80, 0.1);

    & .button-svg {
      fill: $orange-900;
    }
  }

  &:active {
    color: $darkBlue-900;

    & .button-svg {
      fill: $darkBlue-900;
    }
  }
}


@mixin ellipsis($rowCount: 1) {
  @if $rowCount <=1 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  @else {
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $rowCount;
    -webkit-box-orient: vertical;
  }
}